* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}
.container {
  height: 100vh;
  background: url(./images/bg.png);
  background-size: cover;
  background-position: center;
  /* box-sizing: border-box; */
  position: relative;
  width: 100%;
  /* padding-left: 5%; */
  /* padding-right: 3%; */
}
.header {
  display: flex;
  /* float: left; */
  height: 15%;
  margin: auto;
  align-items: center;
  /* background: white; */
}
.header img {
  display: flex;
  width: 8rem;
  height: 8rem;
  align-items: center;
  margin-left: 2%;
}
.nav {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 60%;
  /* background: green; */
  margin-left: 5%;
}
ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  /* float: right */
  margin: 20px;
}
li {
  margin: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Poppins", sans-serif;
}
.login {
  /* height: 4rem; */
  padding: 1rem 3rem;
  /* width: 10rem; */
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4rem;
  background: #376aec61;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}
.signup {
  /* height: 4rem; */
  padding: 1rem 2rem;
  /* width: 10rem; */
  font-size: 25px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  border-radius: 4rem;
  margin-left: 2rem;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  backdrop-filter: blur(10rem);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.buy {
  /* height: 4rem; */
  padding: 1rem 2rem;
  /* width: 10rem; */
  font-size: 25px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  border-radius: 4rem;
  margin-left: 2rem;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  backdrop-filter: blur(10rem);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-top: 45px;
  margin-left: 10rem;
}
.content {
  display: flex;
  height: 85vh;
}
.text {
  margin-top: 5rem;
  margin-left: 8rem;
  width: 50%;
}
.text h2 {
  font-size: 3rem;
  font-weight: 600;
  word-spacing: 10px;
  text-transform: uppercase;
  color: #fffbf5;
}
.text h1 {
  font-size: 4rem;
  font-weight: 600;
  word-spacing: 10px;
  text-transform: uppercase;
  margin-top: 5px;
  color: rgb(245, 245, 245);
  /* inline-size: spx; */
}
.text h1 span {
  font-size: 3rem;
}
.text p {
  margin-top: 25px;
  width: 60%;
  font-size: 25px;
  color: black;
}
.pepsi {
  height: 75%;
  margin-top: 3%;
}
